.card-back {
  background: white;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  #qrcode {
    padding: 15px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    margin-bottom: 20px;
    
    img {
      width: 100%; // Щоб QR вписався в контейнер
    }
  }

  p {
    font-size: 14px;
    color: #888;
    font-weight: 500;
  }
}